<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/be90481885.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <!-- Start of header section -->
    <header>
        <section class="nav-container">
            <nav>
                <div class="left">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/HawanaTamang"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/hawana0911/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/tamanghawana09"><i class="fab fa-github"></i></a>
                </div>
                <div class="center">
                    <h1>Hawana's Blogging Website</h1>
                </div>
                <div class="right">
                    <a href="/blogs/new" class="btn btn-success">Create Blog</a>
                </div>
            </nav>
        </section>
        <section class="line"></section>
        <section class="main-nav">
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav>
            
        </section>
    </header>
    <!-- End of header section -->


    <!-- Start of main section -->
    <main>
        <section class="main-container" id="home">
            <img src="/assets/Hawana’s Blog.gif" alt="Gif"> 
        </section>
        <br><br>
        <section class="line"></section>

        <section class="blog-container" id="blog">
            <div class="text">
                <h2>Blog's:</h2>
            </div>
            <% blogs.forEach(blog =>{%>
                    <div class="card">
                     
                            <div class="card-body">
                                <h2 class="card-title"><%=blog.title%></h2>
                                <div class="card-subtitle">
                                    <%= blog.createdAt.toLocaleDateString() %>
                                </div>
                                <div class="card-text ">
                                    <%= blog.description%>
                                </div>
                                <br>
                                <div class="button">
                                    <a href="blogs/<%= blog.slug%>" class="btn1">Read More</a>
                                    <a href="blogs/edit/<%= blog.id%>" class="btn2">Edit</a>
                                    <form action="blogs/<%= blog.id%>?_method=DELETE" method="POST" class="d-inline">
                                        <button type="submit" class="btn-red">Delete</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                </div>
            <%})%>
        </section>
        <section class="line"></section>

        <section class="about-container" id="about">
            <div class="text">
                <h2>About:</h2>
            </div>
            <div class="about-box">
                <div class="left">
                    <img src="/assets/About.png" alt="about">
                </div>
                <div class="about">
                    <p>
                        Welcome to Hawana's Blogging Website, your one-stop destination for insightful content and engaging discussions. Here, we strive to create a digital space where ideas flourish, perspectives collide, and inspiration ignites. Founded on the belief that everyone has a story to share and a voice worth hearing, our platform is dedicated to fostering a community of writers, thinkers, and enthusiasts from all walks of life. Whether you're passionate about travel, technology, literature, or lifestyle, you'll find a home here to explore, learn, and connect. Join us on this journey as we celebrate the power of words to inform, inspire, and unite us all.</p>
                </div>
            </div>
        </section>
        <section class="line"></section>

        <section class="contact-container" id="contact">
            <div class="text">
                <h2>Contact Us:</h2>
            </div>
            <div class="contact-box">
                <div class="left">
                        <div>
                            <span>📌</span>
                            <h3>Office Address</h3>
                            <span>Gathaghar</span>
                            <span>Bhaktapur,Nepal</span>
                        </div>
                        <div>
                            <span>📞</span>
                            <h3>Call us</h3>
                            <span>+9779808691807</span>
                        </div>
                        <div>
                            <span>📨</span>
                            <h3>Email Address</h3>
                            <span>hawanatamang@gmail.com</span>
                        </div>
                </div>
                <div class="right">
                    <form method="post">
                        <input  name="name" id="name" type="text" placeholder="Full Name"/>
                        <input  name="email" id="email" type="text" placeholder="Email Address">
                        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                        <button> <a href="https://formsubmit.co/el/xomavo" target="_blank">Send Message</a></button>
                    </form>
                </div>
            </div>
        </section>
        <section class="line"></section>
    </main>
    <!-- End of main section -->


    <!-- Start of footer section -->
    <footer>
        <div class="footer-container">
            <p>Copyright &copy; HawanaTamang 2024</p>
        </div>
    </footer>
    <!-- End of footer section -->
</body>
</html>
